<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Product App</title>
  </head>
  <body>
    <div id ='app'>
      <div class = 'product'>
        <div class = 'product-image'>
          <img :src='image' v-bind:alt='altText' />
        </div>
        <div class = 'product-info'>
          <h1>{{product}}</h1><span v-show="onSale">Sale!!</span>
          <p>{{description}}</p>
          <ul>
            <li v-for='detail in details'>{{detail}}</li>
          </ul>
          <ul class='sizes'>
            <li v-for='size in sizes'>{{size}}</li>
          </ul>
          <p v-if='inventory>10'>In Stock</p>
          <p v-else-if='inventory>0'>Almost Out of Stock</p>
          <p v-else>Out of Stock</p>
        </div>
    </div>
    <script src = 'https://cdn.jsdelivr.net/npm/vue'></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          product: 'Socks',
          description: 'A pair of warm, fuzzy socks',
          image: 'assets/vmSocks-green.png',
          altText: 'A pair of socks',
          inventory: 11,
          onSale: true,
          details: ['80% cotton','20% polyester', '100% nerd', 'Gender-neutral'],
          sizes: ['S','M','L']
        }
      })
    </script>
  </body>
</html>